<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="connstring" connectionString="data source=project-managementdb.database.windows.net;initial catalog=ProjectsDb;Persist Security Info=False;User ID=iptproject;Password=Sara@1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;" />
  <add name="IPT_Project.Properties.Settings.connstring" connectionString="data source=project-managementdb.database.windows.net;initial catalog=ProjectsDb;Persist Security Info=False;User ID=iptproject;Password=Sara@1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;" />
 </connectionStrings>
</configuration>